    <div class="container">
      <div class="row">
        <div class="col-xs-12">
          <h1 class="text-center">Start Creating your army</h1>
        </div>
      </div>
      <div class="row">
        <div ng-if="!armyList.armyForm.armySaved" class="col-xs-12">
          <button ng-if="!armyList.armyForm.visible && !armyList.armyForm.name" ng-click="armyList.toggleArmyForm()" class="btn btn-default btn-block">Create Army</button>
          <div ng-if="armyList.armyForm.visible" class="row">
          <div class="form-horizontal">
            <div class="form-group">
              <div class="col-xs-12">
                <label for="army-name">Army name </label>
              </div>
              <div class="col-xs-12">
                <input id="army-name" type="text" ng-model="armyList.armyForm.name" class="form-control" required>
              </div>
              <div class="col-xs-12">
                <label for="army-description">Army description </label>
              </div>
              <div class="col-xs-12">
                <textarea id="army-description" class="form-control" ng-model="armyList.armyForm.description"></textarea>
              </div>
              <div class="col-xs-12">
                <label for="army-points-limit">Points limit </label>
              </div>
              <div class="col-xs-12">
                <input id="army-points-limit" type="number" ng-model="armyList.armyForm.pointsLimit" class="form-control">
              </div>
            </div>
            <div class="form-group" ng-if="armyList.armyForm.name.length">
              <div class="col-xs-12">
                <button ng-click="armyList.createArmy(armyList.armyForm)" class="btn btn-default btn-block">Save</button>
              </div>
            </div>          
          </div>
          </div>
        </div>
        
        <div ng-if="armyList.armyForm.armySaved" class="col-xs-12">
          <h3>
            <span>Army name: </span>
            <span ng-bind="armyList.forcesList.name"></span>
            <button class="btn btn-default pull-right" ng-click="armyList.editArmy()">Edit</button>
          </h3>
          <h4>
            <span>Description: </span>
            <span ng-bind="armyList.forcesList.description"></span>
          </h4>
          <h4>
            <span>Points:</span>
            <span ng-bind="armyList.forcesList.points"></span>
            <span ng-if="armyList.forcesList.pointsLimit !== -1">
              <span>/</span>
              <span ng-bind="armyList.forcesList.pointsLimit"></span>
            </span>
          </h4>
        </div>
        
        <div class="col-xs-12" ng-if="armyList.armyForm.armySaved">
          <button ng-click="armyList.addForce()" class="btn btn-default btn-block">Add Force</button>
        </div>
      </div>
      <div class="row" ng-repeat="force in armyList.forcesList.forces">
        {{force.selectedCodex}}
      </div>
    </div>